# Bower dependency directory (https://bower.io/)
bower_components
test/bower_components

# Compiled targets
dist
.tmp

# Dependency directories
node_modules/

# dotenv environment variables file
.env

